body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #97351C;
}

.main-container {
  display: flex;
  flex-direction: column;
  background-color: #97351C;
  border: 3px solid #C55637;
  max-width: 400px;
  margin: 20px;
  padding: 15px;
}

header {
    display: flex;
    align-items: center; /* Vertically align to the center, so the icon is inline with the text*/
    /* Aligns items to the start of the container */
    justify-content: flex-start;
    gap: 10px;
    color: #CAC589;
    margin-top: 10px;
}

header > h1 {
    margin: 0; 
    font-size: 1em; 
    font-weight: bold;
}

header > i {
    font-size: 3em; 
}

.image-section img {
  width: 100%;
}

.unordered-list {
  display: flex;
  color: #CAC589;
  text-align: left;
  justify-content: flex-start;
}

.video-section {
  width: 100%;
}

.video-section > h2 {
  background-color: #C55637;
  padding: 3px;
  width: 100%;
  font-size: small;
  text-align: left;
  color: #CAC589;
  margin-bottom: 0.25px; /* This is to override the default margin for h2, so there is only a 1px gap between the the text padding and iframe.*/
}

form {
  display: flex;
  flex-direction: column;
  width: 90%;
  color: #CAC589;
  margin: 10px 0;
}

form > label {
  margin-top: 5px;
}

form input,
form select,
form button {
  margin-top: 5px;
  padding: 5px;
  border: none;
  width: 100%;
}

form > button {
  background-color: #A6A86F;
  color: #97351C;
  font-weight: bold;
  margin-top: 10px;
  cursor: pointer;
}

form > p {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 10px;
}

form > a {
  color: #CAC589;
  text-decoration: none;
}

form > a:hover {
  text-decoration: underline;
}

#destinationField{
  width: 50%;
}